@media (max-width: 480px) {
    body {

        .swiper {
            width: 350px;
            height: 350px;

            .swiper-slide div {
                top: 6px;
                left: 8px;

                p {
                    width: 312px;
                    height: 298px;
                    padding: 3px;
                }
            }
        }

        .arrow {
            right: 0px;
            bottom: 8px;
        }
    }
}