@media (max-width: 520px) {
  body {
    .arrow img {
                right: 0px;
                bottom: -80px;
    }
  }
}

@media (max-width: 480px) {
    body {
        .swiper {
                width: 376px;
                height: 376px;

    .swiper-slide div {
        width: 364px;
        height: 364px;
        top: 6px;
        left: 6px;
    }
    }
  }
}
