@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
    text-shadow: 1px 1px 0px #000000;
    overflow-x: hidden;
    background: url(../images/bckg-tapestry-of-time.jpg) no-repeat 50% 60%;
    background-size: cover;
    font-size: 14px;
    color: #C71585;
    width: 100vw;
    min-height: 100vh;
    min-width: 370px;

    h1 {
        text-align: center;
        font-family: "Great Vibes", cursive;
        text-transform: capitalize;
        margin: 40px 0;
        background-color: rgba(255, 255, 255, 0.308);
        padding: 8px;
        width: 100%;

    }
}

.swiper {

    width: 400px;
    height: 400px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;

    div {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(236, 9, 122, 0.493);
        padding: 8px;
        border-radius: 8px;
        max-width: 380px;
        overflow-y: auto;


        h2 {
            color: #FFD700;
            text-align: center;
        }

        p {
            color: #fab2be;
            padding: 3px;
            height: 336px;
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
        }
    }

    img {
        display: block;
        width: 100%;
    }
}

.arrow img {
    position: absolute;
    bottom: 5px;
    height: 100px;
    width: 100px;
    right: 300px;
}